.DS_Store
bin
obj
.idea
.vscode
.vs
.db
.db-shm
.db-wal
**/**/testResults
**/**/coverage.opencover.xml

.appVersion-*
.chartVersion-*
.deployStatus*
src/Connatix.Web.ServingAPI.sln.DotSettings.user

#Terraform
**/**/.terraform

node_modules
.angular
.DS_Store
dist
docs
coverage
debug.log
/allure-results
.idea
.vscode/launch.json
